* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

section {
    margin-top: 100px;
}


.nv_user {
    float: left;
}

.deconnexion {
    float: right;
}

.bar_i {
    margin-left: 20px;
    color: white;
    padding:  20px;
    text-decoration: none;
}


.row {
    max-width: 1140px;
    margin: 0 auto; 
}
.back {
    background-color: #e67e22;
}

.deconnexion {
    color: white;
    float: right;
    padding:  20px;
    text-decoration: none;
}
.icone-small {
    padding: 10px;
    color: white;
    font-size: 30px;
    margin-right: 15px;
}
h3 {
    font-size: 200%;
    font-weight: 300;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 75px;
}


h2 {
    margin-top: 100px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 10;
}


h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}


ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 100;
}

ul li {
    float: left;
    width: 350px;
    height: 52px;
    background-color: #004777;
    line-height: 50px;
    text-align: center;
    margin-right: 30px;
}

ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    display: inline-block;
}

ul a:hover,
li a:active {
    border-bottom: 2px solid #e67e22;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: inline-block;
}


.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-vierge:link,
.btn-vierge:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}



input[type=submit]:hover {
    color: #16a085;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid #e67e22;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

td {
    word-break: break-all;
}

th {
    background-color: #e67e22;
    color: white;
    font-weight: 300;
}


tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: azure;
}


.icon {
    color: #e67e22;
    font-size: 50px;
    padding: 20px;
}


.pt_icon {
    color: #e67e22;
    font-size: 25px;
}

.icon-sv {
    color: #e67e22;
    padding: 10px;
    font-size: 25px;
}

.page-sv {
    color: #e67e22;
    font-weight: 300;
    font-size: 100%;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
    float: right;
}